.CSSButton button{

    border-radius: 12px;
    background-color: rgb(137, 139, 139);
    border: none;
    display: inline-block;
    padding: 10px;
    transition-duration: 0.4s;
    }
    
    .CSSButton button:hover {
    background-color: rgb(34, 33, 33); /* Green */
    color: rgb(194, 199, 199);
}

/* Modify the background color */
.navbar-custom {
    background-color: rgb(196, 196, 196);
}

.navbar-custom .navbar-brand{
    color:rgb(0, 0, 0);
}